[submodule "Hyundai_mobis_YOLO_streamlit"]
	path = Hyundai_mobis_YOLO_streamlit
	url = https://github.com/Sunwoo0110/Hyundai_mobis_YOLO_streamlit.git
[submodule "Hyundai_mobis_RoadKeeper_Front"]
	path = Hyundai_mobis_RoadKeeper_Front
	url = https://github.com/Sunwoo0110/Hyundai_mobis_RoadKeeper_Front.git
[submodule "Hyundai_mobis_RoadKeeper_Backend"]
	path = Hyundai_mobis_RoadKeeper_Backend
	url = https://github.com/Sunwoo0110/Hyundai_mobis_RoadKeeper_Backend.git
[submodule "road-hazard-detection"]
	path = road-hazard-detection
	url = git@github.com:2023-Hyundai-mobis-Hackathon/road-hazard-detection.git
